<ion-view view-title="Add Show">
  <ion-content padding="true" class="has-header">
    <form id="addshow-form" class="list" >

      <label class="item item-input" id="show-tite" name="Title">
        <span class="input-label">Title</span>
        <input ng-disabled="showId != '-1'" type="text" placeholder="Title" ng-model="showName.value" required>
      </label>

      <label class="item item-input" id="show-date" name="Date">
        <span class="input-label">Date</span>
        <input type="date" placeholder="" ng-model="showDate.value">
      </label>

      <label class="item item-input" id="show-time" name="Time">
        <span class="input-label">Time</span>
        <input type="time" value='now' ng-model="showTime.value">
      </label>

      <ion-toggle toggle-class="toggle-balanced" ng-checked="showRepeat.value" id="show-repeat" ng-model="showRepeat.value">Repeat</ion-toggle>

      <label class="item item-input" id="show-channel" name="Channel">
        <span class="input-label">Channel</span>
        <input type="number" placeholder="99" ng-model="showChannel.value">
      </label>

      <label class="item item-input" id="show-notes" name="Notes">
        <span class="input-label">Notes</span><textarea placeholder="Notes" ng-model="showNotes.value"></textarea></label>


      <div class="item item-input">
        <label class="item item-input item-input-wrapper" id="show-tags" name="Tags"
               style="overflow:auto; background: transparent;padding-top: 0px;padding-bottom: 0px;border-top-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;padding-left: 0px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;">
          <span class="input-label">Tags</span>
          <!-- <input ng-if="tagSelectModel.length != 0" type="text" value="{{tagSelectModel}}" disabled
                 style="background: transparent"> -->
          <span  ng-repeat="tag in tagSelectModel">{{tag.name}}{{$last ? '' : ', '}}</span>
        </label>
        <button class="icon ion-ios-plus-outline button button-light" modal-select="" on-select="onModelItemSelected(newValue, oldValue)" ng-model="tagSelectModel" options="AllTags"  multiple="true" modal-title="Select Tags" >
          <div class="option">
            {{option.name}}
          </div>
        </button>
      </div>


      <div id="show-button-bar" class="button-bar">
        <button id="show-button-save" style="font-size:20px;border-radius:8px 8px 8px 8px;"
                class="button button-positive  button-block icon ion-android-add-circle" ng-click="saveShow()"> Save
        </button>
      </div>


      <img ng-if="TvShow.backdrop_path == null" style="display: none" src="../img/image_placeholder_banner.jpg" crossOrigin="Anonymous"
           id="bannerImg" />

      <img ng-if="TvShow.backdrop_path.length >0" style="display: none" onerror="this.src='../img/image_placeholder_banner.jpg'" crossOrigin="Anonymous"
      ng-src="http://image.tmdb.org/t/p/w300{{TvShow.backdrop_path}}" id="bannerImg" />

    </form>
  </ion-content>
  <script>
    $(function(){
      $('input[type="time"][value="now"]').each(function(){
        var d = new Date(),
          h = d.getHours(),
          m = d.getMinutes();
        if(h < 10) h = '0' + h;
        if(m < 10) m = '0' + m;
        $(this).attr({
          'value': h + ':' + m
        });
      });
    });
  </script>
</ion-view>
