<ion-view view-title="About">
  <ion-content padding="true" class="has-header">


    <div class="list card" id="myShows-card21" >

      <ion-item  class="item item-divider bar bar-header bar-stable">About</ion-item>

      <ion-item class="assertive item item-divider">
        <p>
          <center><h1 style="font-size: 2em; background-color: inherit;padding-top: 0px;padding-bottom: 0px;" class="item">MyTv</h1></center>
        </p>
        <p class="subdued">
        <center><h3 style="font-style: italic;" class="royal">Never miss your favorite TV show!</h3></center>
        </p>
        <p style="padding-top: 8px; font-size: small">
          <center><h4 class="dark">Version 1.0</h4></center>
        <center><h4 class="dark">Feedback: <a href="mailto:axp6201@rit.edu">axp6201@rit.edu</a> </h4></center>
        </p>
        </ion-item>

    </div>
  </ion-content>
</ion-view>
