<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- My Shows Tab -->
  <ion-tab title="My Shows" icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/tab/my-shows">
    <ion-nav-view name="tab-my-shows"></ion-nav-view>
  </ion-tab>

  <!-- Tags Tab -->
  <ion-tab title="Tags" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/tagListing">
    <ion-nav-view name="tab-tagListing"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- About/Settings Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab
  <ion-tab title="Add Show" icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/addShow/-1">
    <ion-nav-view name="tab-add-show"></ion-nav-view>
  </ion-tab>
  -->
</ion-tabs>
